<!DOCTYPE html>

<title>Panier</title>

{% block body %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPanier</th>
                <td>{{ panier.idPanier }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ panier.cin }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ panier.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_panier_index') }}">back to list</a>

    <a href="{{ path('app_panier_edit', {'idPanier': panier.idPanier}) }}">edit</a>

    {{ include('panier/_delete_form.html.twig') }}
{% endblock %}
