{% extends 'base-back.html.twig' %}

{% block footer %}Publication index{% endblock %}

{% block content %}
    <div class="container">
        <div id="titlebar" class="dashboard_gradient">
            <div class="row">
                <div class="col-md-12">
                    <h2>Les expériences partagées</h2>
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Découvertes</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>Les expériences partagées</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>














        <div class="col-lg-12 col-md-12">
            <div class="utf_dashboard_list_box margin-top-0">
                <div class="sort-by my_sort_by">
                    <div class="utf_sort_by_select_item">
                        <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title=""><a class="chosen-single chosen-default"><span>Toutes les expériences</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                    </div>
                </div>
                <h4><i class="sl sl-icon-list"></i> Les publications</h4>
                <ul>
                    {% for publication in publications %}
                        {% set count = 0 %}
                        {% for commentaire in commentaires %}
{% if commentaire.idPublication.id ==  publication.id %}

    {% set count = count +1 %}

                            {% endif %}
                            {% endfor %}

                    <li>
                        <div class="utf_list_box_listing_item">
                            <div class="utf_list_box_listing_item-img"><a href="#"><img src="{{  asset ("image/#{publication.image}") }}" alt=""></a></div>
                            <div class="utf_list_box_listing_item_content">
                                <div class="inner">
                                    <h3><a href="{{ path('app_publication_show', {'id': publication.id}) }}">{{ publication.nom }}</h3>
                                    <span><i class="im im-icon-Hotel"></i> {{ publication.region }}</span>
                                    <span><i class="fa fa-map-marker"></i> {{ publication.adresse }}</span>
                                    <span><i class="fa fa-calendar"></i>{{ publication.datecreation ? publication.datecreation|date('Y-m-d') : '' }}</span>
                                    <p>{{ publication.description }}</p>
{#                                 <div class="utf_star_rating_section" data-rating="4.5">#}
{#                                        <div class="utf_counter_star_rating">(4.5)</div>#}



{#                                </div>#}
                            </div>
                        </div>
                        <div class="buttons-to-right">
                            <a href="{{ path('app_publication_show', {'id': publication.id}) }}" class="button gray"><i class="fa fa-eye"></i> Détails</a>
                            <a href="{{ path('app_publication_delete', {'id': publication.id}) }}" class="button gray"><i class="fa fa-trash-o"></i> Supprimer</a>
                        <h6 style="margin-top: 25px;color: #ff2222"> Nombre de Commentaire a Approuver : <strong style="color: black"> {{ count }} </strong></h6>
                        </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="clearfix"></div>
            {#  <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
                <nav class="pagination">
                    <ul>
                        <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div> #}


            <div class="pagination">
                {{ knp_pagination_render(publications) }}
            </div>
        </div>




    </div>
{% endblock %}
