{% extends 'base-front.html.twig' %}

{% block title %}Publication{% endblock %}

{% block content %}
    <style> li{
            color:red;
        }
    </style>
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Les experiences partagées</h2>
                    <nav id="breadcrumbs">
                        <ul>

                            <li><a href="{{ path('app_front_publication') }}"> Retour</a></li>
                            <li>Détails expériences</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if app.request.query.get("bad") == "bad" %}
            <h4 class="text-danger mt-4 mb-4"> Erreur ajout commentaire !, Bad words</h4>
        {% endif %}
        {% if app.request.query.get("good") == "good" %}
            <h4 class="text-success mt-4 mb-4"> commentaire ajouter avec succes, en cours de traitement</h4>
        {% endif %}
        <div class="blog-page">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="utf_blog_post utf_single_post">
                        <a  class="utf_post_img"> <img  src="{{  asset ("image/#{publication.image}") }}" alt=""> </a>
                        <div class="utf_post_content">
                            <h3>{{ publication.nom }}</h3>
                            <ul class="utf_post_text_meta">
                                <span class="date"><i class="fa fa-clock-o"></i> {{ publication.datecreation ? publication.datecreation|date('Y-m-d') : '' }}</span>
                                <li>Par <a href="#"></a> {{ publication.idGuest }}</li>
                                <li>À<a href="#"></a> {{ publication.region }}</li>
                                <li><a href="#">{{ number }} comments</a></li>
                            </ul>
                            <div class="utf_post_quote"> <span class="icon"></span>
                                <blockquote> {{ publication.adresse }}</blockquote>
                            </div>
                            <p>{{ publication.description }}</p>
                            <div class="social-contact">
                                <a href="#" class="facebook-link"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="twitter-link"><i class="fa fa-twitter"></i> Twitter</a>
                                <a href="#" class="instagram-link"><i class="fa fa-instagram"></i> Instagram</a>
                                <a href="#" class="linkedin-link"><i class="fa fa-linkedin"></i> Linkedin</a>
                                <a href="#" class="youtube-link"><i class="fa fa-youtube-play"></i> Youtube</a>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('app_publication_edit', {'id': publication.id}) }}" class="button border">Modifier</a>
                    <a href="{{ path('app_publication_front_delete', {'id': publication.id}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="button border">Supprimer</a>

                    <div class="clearfix"></div>


                    <div id="utf_listing_location" class="utf_listing_section">
                        <h3 class="utf_listing_headline_part margin-top-60 margin-bottom-40">Location</h3>
                        <div class="single-property-grid">

                            <div class="property-map">
                                <div id="map" style="height: 400px;width: 100%">  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d198059.49240377638!2d-84.68048827338674!3d39.13652252762691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1615660592820!5m2!1sen!2sbd
"></iframe></div>
                            </div>
                        </div>
                    </div>



                    <section class="comments">
                        <h4 class="headline_part margin-top-20 margin-bottom-35"> <i class="fa fa-comments" ></i>Comments <span class="comments-amount">({{ number }})</span></h4>
                        <ul>
                            {% for c in commentaires %}
                                <li>
                                    <div class="avatar"><img src="{{ asset("Front-office/images/#{c.idGuest.imageProfile}") }}" alt=""></div>
                                    <div class="utf_comment_content">
                                        <div class="utf_arrow_comment"></div>
                                        <div style="font-weight: bold;color:#282b42" >{{ c.idguest.nom }} {{ c.idguest.prenom }}</div>
                                        {#    <div class="utf_star_rating_section" data-rating="4.5"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star half"></span></div> #}
                                        {% if c.note==1  %}
                                            <i style="color:gold " class ='fa fa-star '></i> <i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                        {% elseif c.note==2 %}
                                            <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                        {% elseif c.note==3 %}
                                            <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                        {% elseif c.note==4 %}
                                            <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i class ='fa fa-star '  ></i>
                                        {% else %}
                                            <i style="color: gold" class ='fa fa-star '  ></i> <i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i><i style="color: gold" class ='fa fa-star '  ></i>
                                        {% endif %}

                                        <div class="utf_by_comment" style="font-family: Dialog ; color: #4f5050" >{{ c.nom }}<span class="date"><i class="fa fa-clock-o"></i> {{ publication.datecreation ? publication.datecreation|date('Y-m-d') : '' }}</span>  <a href="{{ path('app_commentaire_front_delete', {'id':c.id ,'idpub':idpub}) }}" onclick="return confirm('Are you sure you want to delete this item?');" class="reply">Supprimer <i class="fa fa-times"></i></a>   </div>
                                        <p>{{ c.comment }}</p>

                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                    <div class="clearfix"></div>

                     <div id="utf_add_review" class="utf_add_review-box">

                        <h3 class="utf_listing_headline_part margin-bottom-35"   > <i class="fa fa-pencil-square-o"></i> Ajouter votre commentaire</h3>

                         {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{ form_row(form.nom) }}
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_row(form.note) }}
                                    </div>
                                </div>
                                <div>
                                    {{ form_row(form.comment) }}
                                </div>
                            </fieldset>
                            <button class="button">Poster</button>
                            <div class="clearfix"></div>
                            {{ form_end(form) }}
                    </div>
                </div>



                <div class="col-lg-4 col-md-4">
                    <div class="sidebar right">


                        <div class="clearfix"></div>
                        <div class="utf_box_widget opening-hours review-avg-wrapper margin-top-35 margin-bottom-70">
                            <h3><i class="sl sl-icon-star"></i>  Rating Average</h3>
                            <div class="box-inner">
                                <div class="rating-avg-wrapper text-theme clearfix">
                                    <div class="rating-avg">{{ rating |number_format(1)}}</div>
                                    <div class="rating-after">
                                        <div class="rating-mode">/5 Average</div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>

    </div>



    {{ parent() }}

    <script
{#         src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=places&v=weekly"#}
            async
    ></script>
    <script>
        //https://developers.google.com/maps/documentation/javascript/examples/place-search

        let map;
        let service;
        let infowindow;

        function initMap() {
            const tunis = new google.maps.LatLng(46.232192999999995, 2.209666999999996);

            infowindow = new google.maps.InfoWindow();
            map = new google.maps.Map(document.getElementById("map"), {
                center: tunis,
                zoom: 12,
            });

            const request = {
                query: "{{ publication.getAdresse() }}",
                fields: ["name", "geometry"], // name : adresse w geo : lat w long ...
            };

            service = new google.maps.places.PlacesService(map);
            service.findPlaceFromQuery(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    for (let i = 0; i < results.length; i++) {
                        createMarker(results[i]);
                    }

                    map.setCenter(results[0].geometry.location);
                }
            });
            const transitLayer = new google.maps.TransitLayer();

            transitLayer.setMap(map);
        }

        function createMarker(place) {
            if (!place.geometry || !place.geometry.location) return;

            const marker = new google.maps.Marker({
                map,
                position: place.geometry.location,
                zoom: 18,  // google map develloper
            });

            google.maps.event.addListener(marker, "click", () => {
                infowindow.setContent(place.name || "");
                infowindow.open(map);
            });
        }
    </script>



{% endblock %}
