{% extends 'base-back.html.twig' %}

{% block content %}
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.
        min.css" integrity="sha512-/2532ZEJH+/E02N1bePEdoA10JkdC3zJ8LSFTİQu82LR9S/
        rOQNfQN7U59U9BC12sWNeRAZ3HSZIL2vpp4fv3w=" crossorigin="anonymous">


    </head>

 <div id="titlebar" class="dashboard_gradient">
        <div class="row">
            <div class="col-md-12">
                <h2>Add Offre</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="index_1.html">Dashbord</a></li>
                        <li><a href="dashboard.html">Add Offres</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

 <div class="row"> 
        <div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-1">
            <div class="utf_dashboard_stat_content">
              <h4>{{ Appartement }}</h4>
              
              <span>Appartement</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="im im-icon-Building"></i></div>
          </div>
        </div>
        
        <div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-2">
            <div class="utf_dashboard_stat_content">
              <h4>{{ Maison }}</h4>
              <span>Maisons</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="im im-icon-Home"></i></div>
          </div>
        </div>
        
        <div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-3">
            <div class="utf_dashboard_stat_content">
              <h4>{{ Chambre }}</h4>
              <span>Chambres</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="fa fa-bed"> </i></div>
          </div>
        </div>
        
        <div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-4">
            <div class="utf_dashboard_stat_content">
              <h4>{{ Voiture }}</h4>
              <span>Voiture</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="im im-icon-Car-2"></i></div>
          </div>
        </div>
	
		<div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-5">
            <div class="utf_dashboard_stat_content">
              <h4>{{ Moto }}</h4>
              <span>Motos</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="im im-icon-Motorcycle"></i></div>
          </div>
        </div>
		
        <div class="col-lg-2 col-md-6">
          <div class="utf_dashboard_stat color-6">
            <div class="utf_dashboard_stat_content">
              <h4 sty>{{ Vélo }}</h4>
              <span>Vélos</span>
			</div>
            <div class="utf_dashboard_stat_icon"><i class="im im-icon-Bicycle-3"></i></div>
          </div>
        </div>
      </div>


<canvas id="categories" width="400" height="100"></canvas>

<button onclick="myFunction()">Copy</button>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
integrity="sha512-s
+xg36jbIujB2S2VKfpGmlC3T5V2TF31Y48DX7u2r9XZGzgPsa6wTp0QA7J9iffvdeBN0q9tKzRxVxw1JviZPg="
crossorigin="anonymous"></script>
<script>
let categories = document.querySelector("#categories")
let categGraph = new Chart(categories, {
   type: "pie",
   data: {
       labels: ["cat1", "cat2", "cat3"],
       datasets: [{
          label: "Répartition des catégories",
          data: [2, 5, 3],
})

</script>
{% endblock %}






