{% extends 'base.html.twig' %}

{% block title %}Offres index{% endblock %}

{% block body %}
    <h1>Offres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOffre</th>
                <th>IdHost</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Ville</th>
                <th>Type</th>
                <th>Categ</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.idOffre }}</td>
                <td>{{ offre.idUser }}</td>
                <td>{{ offre.nom }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.datedebut ? offre.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ offre.datefin ? offre.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ offre.prix }}</td>
                <td>{{ offre.etat ? 'Yes' : 'No' }}</td>
                <td>{{ offre.ville }}</td>
                <td>{{ offre.type }}</td>
                <td>{{ offre.categ }}</td>
                <td>{{ offre.image }}</td>
                <td>
                    <a href="{{ path('app_offres_show', {'idOffre': offre.idOffre}) }}">show</a>
                    <a href="{{ path('app_offres_edit', {'idOffre': offre.idOffre}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offres_new') }}">Create new</a>
{% endblock %}
