{% extends 'base-front.html.twig' %}

{% block content %}
    <div class="clearfix"></div>
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Profite Our Offres</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="index_1.html">Shared</a></li>
                            <li>Liste des Offres</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <!-- Offre -->
        <div class="row">

            <div class="col-lg-8 col-md-8">
                <div class="listing_filter_block">
                    <div class="col-md-2 col-xs-2">
                        <div class="utf_layout_nav"> <a href={{path('app_offres_index')}} class="grid"><i class="fa fa-th"></i></a> <a href="#" class="list active"><i class="fa fa-align-justify"></i></a> </div>
                    </div>
                    <div class="col-md-10 col-xs-10">
                        <div class="sort-by utf_panel_dropdown sort_by_margin float-right"> <a href="#">Destination</a>
                            <div class="utf_panel_dropdown-content">
                                <input class="distance-radius" type="range" min="1" max="999" step="1" value="1" data-title="Select Range">
                                <div class="panel-buttons">
                                    <button class="panel-apply">Apply</button>
                                </div>
                            </div>
                        </div>
                        <div class="sort-by">
                            <div class="utf_sort_by_select_item sort_by_margin">
                                <select data-placeholder="Sort by Listing" class="utf_chosen_select_single">
                                    <option>Sort by Listing</option>
                                    <option>Latest Listings</option>
                                    <option>Popular Listings</option>
                                    <option>Price (Low to High)</option>
                                    <option>Price (High to Low)</option>
                                    <option>Highest Reviewe</option>
                                    <option>Lowest Reviewe</option>
                                    <option>Newest Listing</option>
                                    <option>Oldest Listing</option>
                                    <option>Random Listings</option>
                                </select>
                            </div>
                        </div>
                        <div class="sort-by">
                            <div class="utf_sort_by_select_item sort_by_margin">
                                <select data-placeholder="Categories:" class="utf_chosen_select_single">
                                    <option>Categories</option>
                                    <option>Restaurant</option>
                                    <option>Health</option>
                                    <option>Hotels</option>
                                    <option>Real Estate</option>
                                    <option>Fitness</option>
                                    <option>Shopping</option>
                                    <option>Travel</option>
                                    <option>Shops</option>
                                    <option>Nightlife</option>
                                    <option>Events</option>
                                </select>
                            </div>
                        </div>
                        <div class="sort-by">
                            <div class="utf_sort_by_select_item utf_search_map_section">
                                <ul>
                                    <li><a class="utf_common_button" href="#"><i class="fa fa-dot-circle-o"></i>Near Me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">

                        {% for offre in offres %}
                        <div class="col-lg-12 col-md-12">
                            <div class="utf_listing_item-container list-layout"> <a href="{{ path('app_offres_show', {'idOffre': offre.idOffre}) }}" class="utf_listing_item">
                                    <div class="utf_listing_item-image">
                                        <img src="{{ asset('uploads/' ~ offre.image) }}" alt="">
                                        <span class="like-icon"></span>
                                        <span class="tag"><i class="im im-icon-Hotel"></i> {{ offre.categ }}</span>
                                        <div class="utf_listing_prige_block utf_half_list">
                                            <span class="utf_meta_listing_price"><i class="fa fa-money"></i> {{ offre.prix }}DT</span>

                                        </div>
                                    </div>
                                    <div class="utf_listing_item_content">
                                        <div class="utf_listing_item-inner">
                                            <h3>{{ offre.nom }}</h3>
                                            <span><i class="fa fa-map-marker"></i> {{ offre.ville }}</span>
                                            <span><i class="fa fa-calendar"></i> {{ offre.datedebut |date("F,d,Y") }}</span>
                                            <span><i class="fa fa-calendar"></i> {{ offre.datefin |date("F,d,Y") }}</span>
                                            <div class="utf_star_rating_section" data-rating="4.5">
                                                <div class="utf_counter_star_rating">(4.5)</div>
                                            </div>
                                            <p>{{ offre.description }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="utf_pagination_container_part margin-top-20 margin-bottom-70">
                            <nav class="pagination">
                                <ul>
                                    <li><a href="#"><i class="sl sl-icon-arrow-left"></i></a></li>
                                    <li><a href="#" class="current-page">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-4 col-md-4">
                <div class="sidebar">
                    <div class="utf_box_widget margin-bottom-35">
                        <h3><i class="sl sl-icon-direction"></i> Filters</h3>
                        <div class="row with-forms">
                            <div class="col-md-12">
                                <input type="text" placeholder="What are you looking for?" value=""/>
                            </div>
                        </div>
                        <div class="row with-forms">
                            <div class="col-md-12">
                                <div class="input-with-icon location">
                                    <input type="text" placeholder="Search Location..." value=""/>
                                    <a href="#"><i class="sl sl-icon-location"></i></a> </div>
                            </div>
                        </div>
                        <a href="#" class="more-search-options-trigger margin-bottom-10" data-open-title="More Filters Options" data-close-title="More Filters Options"></a>
                        <div class="more-search-options relative">
                            <div class="checkboxes one-in-row margin-bottom-15">
                                <input id="check-a" type="checkbox" name="check">
                                <label for="check-a">Real Estate</label>
                                <input id="check-b" type="checkbox" name="check">
                                <label for="check-b">Friendly Workspace</label>
                                <input id="check-c" type="checkbox" name="check">
                                <label for="check-c">Instant Book</label>
                                <input id="check-d" type="checkbox" name="check">
                                <label for="check-d">Wireless Internet</label>
                                <input id="check-e" type="checkbox" name="check" >
                                <label for="check-e">Free Parking</label>
                                <input id="check-f" type="checkbox" name="check" >
                                <label for="check-f">Elevator in Building</label>
                                <input id="check-g" type="checkbox" name="check">
                                <label for="check-g">Restaurant</label>
                                <input id="check-h" type="checkbox" name="check">
                                <label for="check-h">Dance Floor</label>
                            </div>
                        </div>
                        <button class="button fullwidth_block margin-top-5">Update</button>
                    </div>
                    <div class="utf_box_widget margin-top-35 margin-bottom-75">
                        <h3><i class="sl sl-icon-folder-alt"></i> Categories</h3>
                        <ul class="utf_listing_detail_sidebar">
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Travel</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Nightlife</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Fitness</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Real Estate</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Restaurant</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="#">Dance Floor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}