{{ form_start(form) }}
<div class="row with-forms">
    <div class="col-md-6">
        <h5>{{ form_label(form.refProd,"Reference Produit") }}</h5>
        {% if form_errors(form.refProd) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">

                {{ form_widget(form.refProd, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.refProd) }}
            </div>
        {% else %}
            {{ form_widget(form.refProd) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h5>{{ form_label(form.designation,"Designation") }}</h5>

        {% if form_errors(form.designation) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.designation, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.designation) }}

            </div>
        {% else %}
            {{ form_widget(form.designation) }}
        {% endif %}

    </div>
    <div class="col-md-12">
        <h5>{{ form_label(form.description,"Description") }}</h5>
        {% if form_errors(form.description) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.description, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.description) }}
            </div>
        {% else %}
            {{ form_widget(form.description) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h5>{{ form_label(form.prix,"Prix") }}</h5>
        {% if form_errors(form.prix) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.prix, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.prix) }}
            </div>
        {% else %}
            {{ form_widget(form.prix) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h5>{{ form_label(form.qteStock,"Quantité") }}</h5>
        {% if form_errors(form.qteStock) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.qteStock, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.qteStock) }}
            </div>
        {% else %}
            {{ form_widget(form.qteStock) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h5>{{ form_label(form.nomcategorie ,"Categorie ") }}</h5>
        {% if form_errors(form.nomcategorie) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.nomcategorie, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.nomcategorie) }}
            </div>
        {% else %}
            {{ form_widget(form.nomcategorie) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <h5>{{ form_label(form.region ,"region ") }}</h5>
        {% if form_errors(form.region) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.region, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.region) }}
            </div>
        {% else %}
            {{ form_widget(form.region) }}
        {% endif %}
    </div>
    <div class="col-md-6" style="align-self: center">
        <h5>{{ form_label(form.image ,"Image ") }}</h5>
        {% if form_errors(form.image) > 0 %}
            <div style="font-size: 12px; font-family: Arial; color: red">
                {{ form_widget(form.image, {'attr': {'style': 'border-color:red'}}) }}
                <i class="sl sl-icon-close"></i> {{ form_errors(form.image) }}
            </div>
        {% else %}
            {{ form_widget(form.image) }}
        {% endif %}
    </div>
    {# dropzon #}

</div>

<button class="button preview">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

