{% extends 'base-front.html.twig' %}

{% block content%}

    <!DOCTYPE html>
    <html lang="zxx">

    <!-- Mirrored from ulisting.utouchdesign.com/ulisting_ltr/blog_page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Mar 2022 15:37:01 GMT -->
    <head>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>:: U-Listing Directory - Listing HTML Template ::</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <!-- Style CSS -->
        <link rel="stylesheet" href="css/stylesheet.css">
        <link rel="stylesheet" href="css/mmenu.css">
        <link rel="stylesheet" href="css/style.css" id="colors">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
    </head>
    <body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="utf-preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Preloader End -->


        <div class="clearfix"></div>

        <div id="titlebar" class="gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Event reservation</h2>
                        <li><a href="index_1.html">Event reservation</a></li>

                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="index_1.html">Home</a></li>
                                <li>Event reservation</li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="blog-page">
                <div class="row">
                    <a href="{{ path('addres') }}" class="button gray"><i class=" fa fa-ticket" aria-hidden="true"></i> Passez une réservation</a>

                        {% for c in events %}

                        <div class="utf_blog_post">
                            <a href="blog_detail_right_sidebar.html" class="utf_post_img"> <img src="{{ asset('/uploads/images/'~ c.image) }}" alt=""> </a>
                            <div class="utf_post_content">
                                <h3><a href="blog_detail_right_sidebar.html">{{ c.nomevent }}</a></h3>
                                <ul class="utf_post_text_meta">
                                        <span> <i class="fa fa-calendar" aria-hidden="true"></i>{{'From' ~' '~ c.datedebev|date }}</span>
                                        <span>  <i class="fa fa-calendar" aria-hidden="true"></i>{{'To' ~' '~ c.datefinev|date }}</span>
                                        <div class="utf_star_rating_section">
                                            <div class="utf_counter_star_rating">{{ c.nbparticip ~' '~'participants' }}</div>
                                        </div>


                                    <span><i class="fa fa-map-marker"></i> {{ c.lieu}}</span>
                                    <span>  <p> <i class="fa fa-question-circle "></i>{{ 'Description'~' :' ~c.description }}</p></span>


                                </ul>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="utf_pagination_container_part margin-bottom-70">
                            <nav class="pagination">
                                <ul>
                                    <li><a class="current-page" {{ knp_pagination_render(events) }}></a></li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <div id="footer" class="footer_sticky_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4>About Us</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Useful Links</h4>
                        <ul class="social_footer_link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Listing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>My Account</h4>
                        <ul class="social_footer_link">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">My Listing</a></li>
                            <li><a href="#">Favorites</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Pages</h4>
                        <ul class="social_footer_link">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">How It Work</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <h4>Help</h4>
                        <ul class="social_footer_link">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Add Listing</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_copyright_part">Copyright © 2021 All Rights Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom_backto_top"><a href="#"></a></div>
    </div>

    <!-- Scripts -->
    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/chosen.min.js"></script>
    <script src="scripts/slick.min.js"></script>
    <script src="scripts/rangeslider.min.js"></script>
    <script src="scripts/magnific-popup.min.js"></script>
    <script src="scripts/jquery-ui.min.js"></script>
    <script src="scripts/mmenu.js"></script>
    <script src="scripts/tooltips.min.js"></script>
    <script src="scripts/color_switcher.js"></script>
    <script src="scripts/jquery_custom.js"></script>

    <!-- Style Switcher -->
    <div id="color_switcher_preview">
        <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>
        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="stylesheet"></a></li>
                <li><a href="#" class="stylesheet_1"></a></li>
                <li><a href="#" class="stylesheet_2"></a></li>
                <li><a href="#" class="stylesheet_3"></a></li>
                <li><a href="#" class="stylesheet_4"></a></li>
                <li><a href="#" class="stylesheet_5"></a></li>
            </ul>
        </div>
    </div>
    </body>

    <!-- Mirrored from ulisting.utouchdesign.com/ulisting_ltr/blog_page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Mar 2022 15:38:20 GMT -->
    </html>

{% endblock %}