<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared {% block title %}Index {% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('front-office/images/favicon.png') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('front-office/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/mmenu.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/Authstyle.css') }}" id="colors">
    <script src="{{ asset('front-office/scripts/typed.js') }}"></script>
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet"
          type="text/css">
</head>
<body>
{% block header %}
    <div id="main_wrapper">
        <header id="header_part">
            <div id="header" style="background: white">
                <div class="container">
                    <div class="utf_left_side">

                        <div id="logo"><a href="{{ path('app_user_index') }}"><img
                                        src="{{ asset('front-office/images/shared.png') }}" alt=""></a></div>

                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
				        <span class="utf_inner_button_box">
					<span class="utf_inner_section"></span>
				        </span>
                            </button>
                        </div>

                        <nav id="navigation" class="style_one">
                            <ul id="responsive">
                                <li><a class="current" href="{{ path('app_user_index') }}">{% trans %}Accueil{% endtrans %}</a></li>
                                <li><a href="{{path('app_offres_index')}}"> Offres</a>
                                    <ul>
                                        <li><a href={{path('liste_offre')}}>Liste Offres</a></li>
                                        <li><a href="{{path('app_offres_index')}}">Grid Offres</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Evenements</a></li>
                                <li><a href="{{path('app_chat_new')}}">Forum</a></li>
                                <li><a href="{{path('mine')}}">Publication</a></li>
                                <li><a href="{{ path('app_shop') }}">Boutique</a>
                                    <ul>
                                        <li><a href="{{ path('app_shop') }}">Boutique Grid</a></li>
                                        <li><a href="{{ path('app_shopList') }}">Boutique Liste</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <div class="header_widget">



                            {% if userCon is defined %}
                                {% if userCon != 0 %}
                                    <a class="dashboard_header_button_item" href="{{ path('app_panierdetails_index') }}">
                                        <i class="sl sl-icon-basket" ></i>

                                    </a>
                              <div class="utf_user_menu">
                                {% include 'user/locale.html.twig' %}
                             </div>
  
                                    <div class="utf_user_menu">
                                        <div class="utf_user_name"><span><img src="images/dashboard-avatar.jpg" alt=""></span>Bonjour, {{ userName }}</div>
                                        <ul>
                                            <li><a href="dashboard.html"><i class="sl sl-icon-layers"></i> Dashboard</a></li>
                                            <li><a href="dashboard_my_profile.html"><i class="sl sl-icon-user"></i> My Profile</a></li>
                                            <li><a href="dashboard_my_listing.html"><i class="sl sl-icon-list"></i> My Listing</a></li>
                                            <li><a href="dashboard_messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
                                            <li><a href="dashboard_bookings.html"><i class="sl sl-icon-docs"></i> Booking</a></li>
                                            <li><a href="index_1.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="{{ path('app_panierdetails_index') }}">Login</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
    <!-- Footer -->
    <div id="footer" class="footer_sticky_part">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore</p>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h4>Useful Links</h4>
                    <ul class="social_footer_link">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Listing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h4>My Account</h4>
                    <ul class="social_footer_link">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">My Listing</a></li>
                        <li><a href="#">Favorites</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h4>Pages</h4>
                    <ul class="social_footer_link">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Our Partners</a></li>
                        <li><a href="#">How It Work</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h4>Help</h4>
                    <ul class="social_footer_link">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Add Listing</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="footer_copyright_part">Copyright © 2021 All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom_backto_top"><a href="#"></a></div>
    </div>


{% endblock %}
<!-- Scripts -->
<script src="{{ asset('front-office/scripts/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/chosen.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/slick.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/rangeslider.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/magnific-popup.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery-ui.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/mmenu.js') }}"></script>
<script src="{{ asset('front-office/scripts/tooltips.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/color_switcher.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery_custom.js') }}"></script>
<script src="{{ asset('front-office/scripts/isotope.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery-migrate-3.3.2.min.js') }}"></script>


<script>
    var typed = new Typed('.typed-words', {

        strings: ["Evenements"," Logements"," Moyen De transports"],

        typeSpeed: 80,
        backSpeed: 80,
        backDelay: 4000,
        startDelay: 1000,
        loop: true,
        showCursor: true
    });
</script>
<script>
    (function($) {
        try {
            var jscr1 = $('.js-scrollbar');
            if (jscr1[0]) {
                const ps1 = new PerfectScrollbar('.js-scrollbar');

            }
        } catch (error) {
            console.log(error);
        }
    })(jQuery);


</script>



</body>
</html>