<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            Shared
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('Front-office/') }}img/favicon.png">
    <link rel="stylesheet" href="{{ asset('Front-office/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Front-office/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Front-office/fonts/flaticon.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('Front-office/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('Front-office/css/bootstrap-datepicker.min.css') }}">

    <!-- main header css -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('Front-office/') }}images/favicon.png">
    <link rel="stylesheet" href="{{ asset('Front-office/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('Front-office/css/mmenu.css') }}">
    <link rel="stylesheet" href="{{ asset('Front-office/css/Authstyle.css') }}" id="colors">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet"
          type="text/css">
    {% block stylesheets %}
    {% endblock %}
</head>
    <body>

    {% block content %}
    {% endblock %}


    <script src="{{ asset('Front-office/') }}js_login/jquery-3.5.0.min.js"></script>
    <script src="{{ asset('Front-office/js_login/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('Front-office/') }}js_login/imagesloaded.pkgd.min.js"></script>
    <script src="{{ asset('Front-office/') }}js_login/validator.min.js"></script>
    <script src="{{ asset('Front-office/') }}js_login/main.js"></script>
{#    <script src="{{ asset('Front-office/') }}js_login/jquery.mb.YTPlayer.min.js"></script>#}
    {% block javascript %}

    {% endblock %}


    </body>
</html>