<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared {% block title %}Index {% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('front-office/images/favicon.png') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('front-office/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/mmenu.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/Authstyle.css') }}" id="colors">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
</head>
<body>

{% block header %}
    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fixed fullwidth_block dashboard">
            <div id="header" class="not-sticky">
                <div class="container">
                    <div class="utf_left_side">
                        <div id="logo"> <a href="{{ path('app_user_index') }}"><img src="{{ asset('front-office/images/shared.png') }}" alt=""></a> <a href="index_1.html" class="dashboard-logo"><img src="{{ asset('front-office/images/shared.png') }}" alt=""></a> </div>
                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
				<span class="utf_inner_button_box">
					<span class="utf_inner_section"></span>
				</span>
                            </button>
                        </div>
                        <nav id="navigation" class="style_one">
                            <ul id="responsive">
                                <li><a href="#">Home</a>

                                </li>
                                <li><a href="#">Listings</a>

                                </li>
                                <li><a class="current" href="#">User Panel</a>

                                </li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="page_about.html">About Us</a></li>
                                        <li><a href="#">Categorie Type</a>
                                            <ul>
                                                <li><a href="page_categorie_one.html">Categorie One</a></li>
                                                <li><a href="page_categorie_two.html">Categorie Two</a></li>
                                            </ul>
                                        </li>
                                            <ul>
                                                <li><a href="page_icons_one.html">Icon-Mind Icon</a></li>
                                                <li><a href="page_icons_two.html">Simple Line Icon</a></li>
                                                <li><a href="page_icons_three.html">Font Awesome Icon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="page_not_found.html">Page Error 404</a></li>
                                        <li><a href="page_coming_soon.html">Coming Soon</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <div class="header_widget">
                            <div class="dashboard_header_button_item has-noti js-item-menu">
                                <i class="sl sl-icon-bell"></i>
                                <div class="dashboard_notifi_dropdown js-dropdown">
                                    <div class="dashboard_notifi_title">
                                        <p>You Have 2 Notifications</p>
                                    </div>
                                    <div class="dashboard_notifi_item">
                                        <div class="bg-c1 red">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="content">
                                            <p>Your Listing <b>Burger House (MG Road)</b> Has Been Approved!</p>
                                            <span class="date">2 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="dashboard_notifi_item">
                                        <div class="bg-c1 green">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <p>You Have 7 Unread Messages</p>
                                            <span class="date">5 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="dashboard_notify_bottom text-center pad-tb-20">
                                        <a href="#">View All Notification</a>
                                    </div>
                                </div>
                            </div>
                            <a class="dashboard_header_button_item" href="{{ path('app_panierdetails_index') }}">
                                <i class="sl sl-icon-basket" ></i>

                            </a>
                            <div class="utf_user_menu">
                                <div class="utf_user_name"><span><img src="images/dashboard-avatar.jpg" alt=""></span>Hi, John!</div>
                                <ul>
                                    <li><a href="dashboard.html"><i class="sl sl-icon-layers"></i> Dashboard</a></li>
                                    <li><a href="dashboard_my_profile.html"><i class="sl sl-icon-user"></i> My Profile</a></li>
                                    <li><a href="dashboard_my_listing.html"><i class="sl sl-icon-list"></i> My Listing</a></li>
                                    <li><a href="dashboard_messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
                                    <li><a href="dashboard_bookings.html"><i class="sl sl-icon-docs"></i> Booking</a></li>
                                    <li><a href="index_1.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        <!-- Dashboard -->
        <div id="dashboard">
            <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
            <div class="utf_dashboard_navigation js-scrollbar">
                <div class="utf_dashboard_navigation_inner_block">
                    <ul>
                        <li><a href="{{ path('app_user_index') }}"><i class="sl sl-icon-layers"></i> Index</a></li>
                        <li><a href="{{ path('app_produit_new') }}"><i class="sl sl-icon-plus"></i> Ajouter Produit</a></li>
                        <li>
                            <a href="#"><i class="sl sl-icon-layers"></i> Boutique</a>
                            <ul>
                                <li><a href="{{ path('app_shop') }}">Grid <span class="nav-tag green">10</span></a></li>
                                <li><a href="{{ path('app_shopList') }}">List Pr<span class="nav-tag yellow">4</span></a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('app_produit_index') }}"><i class="sl sl-icon-docs"></i> List des produits</a></li>
                        <li><a href="{{ path('app_categorieproduit_index') }}"><i class="sl sl-icon-envelope-open"></i> Categories</a></li>
                        <li><a href="index_1.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="utf_dashboard_content">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}


<!-- Scripts -->

<script src="{{ asset('front-office/scripts/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/chosen.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/slick.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/rangeslider.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/magnific-popup.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery-ui.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/mmenu.js') }}"></script>
<script src="{{ asset('front-office/scripts/tooltips.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/color_switcher.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery_custom.js') }}"></script>
<script src="{{ asset('front-office/scripts/typed.js') }}"></script>
<script>
    (function($) {
        try {
            var jscr1 = $('.js-scrollbar');
            if (jscr1[0]) {
                const ps1 = new PerfectScrollbar('.js-scrollbar');

            }
        } catch (error) {
            console.log(error);
        }
    })(jQuery);
    {% block stylesheets %}
    {% endblock %}
</script>
</body>
</html>