<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared {% block title %}Index {% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('front-office/images/favicon.png') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('front-office/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/mmenu.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ asset('front-office/css/Authstyle.css') }}" id="colors">
    <!-- Google Font -->


    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet"
          type="text/css">
</head>
<body>

{% block header %}
    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fixed fullwidth_block dashboard">
            <div id="header" class="not-sticky">
                <div class="container">
                    <div class="utf_left_side">

                        <div id="logo" ><a href="#" ><img src="{{ asset('front-office/images/shared.png') }}" alt="" style="margin-left:80px"></a>
                            <a href="{{ path('app_user_index') }}" class="dashboard-logo" style="margin-left:80px"><img
                                        src="{{ asset('front-office/images/shared.png') }}" alt=""></a></div>

                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
		
					
                            </button>
                        </div>
                        <nav id="navigation" class="style_one">
                         
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <div class="header_widget">
                          
                            <a class="dashboard_header_button_item" href="{{ path('app_panierdetails_index') }}">
                                <i class="sl sl-icon-basket"></i>

                            </a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        <!-- Dashboard -->
        <div id="dashboard">
            <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
            <div class="utf_dashboard_navigation js-scrollbar">
                <div class="utf_dashboard_navigation_inner_block">
                    <ul>
                         <li><a href="{{ path('app_user_index') }}"><i class="sl sl-icon-home"></i> Accueil</a></li>

                        {% if user[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('Approuver') }}"><i class="sl sl-icon-like"></i> Approuver
                                    Produits</a></li>
                        {% endif %}
                        {% if user[0] == "ROLE_HOST" %}
                            <li><a href="{{ path('app_offres_new') }}"><i class="sl sl-icon-magnifier-add"></i> Add Offres</a>
                            </li>
                        {% endif %}
                        {% if user[0] == "ROLE_HOST" %}
                            <li><a href="{{ path('dashboard') }}"><i class="sl sl-icon-chart"></i> Mes statistiques</a>
                            </li>
                        {% endif %}
                        {% if user[0] == "ROLE_HOST" %}
                            <li><a href="{{ path('mine') }}"><i class="sl sl-icon-docs"></i> My Offers</a></li>
                        {% endif %}

                        {% if user[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('app_user_users') }}"><i class="sl sl-icon-layers"></i> Approuver Users</a>
                            </li>

                        <li><a href="{{ path('app_user_show',{'cin': Usercin.cin}) }}"><i class="sl sl-icon-layers"></i> Profile</a></li>


                        {% endif %}
                   
                        {% if user[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('app_produit_new') }}"><i class="sl sl-icon-plus"></i> Ajouter Produit</a>
                            </li>
                        {% endif %}
                        {% if user[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('app_produit_index') }}"><i class="sl sl-icon-docs"></i> List des
                                    produits</a></li>
                            <li><a href="{{ path('app_categorieproduit_index') }}"><i
                                            class="sl sl-icon-envelope-open"></i> Categories</a></li>
                        {% endif %}
                        <li  style="margin-top:250px;border-bottom-color:red"><a href="index_1.html"><i class="sl sl-icon-power"></i> Logout</a></li>

                    </ul>
                </div>
            </div>
            <div class="utf_dashboard_content">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}


<!-- Scripts -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s
+xg36jbIujB2S2VKfpGmlC3T5V2TF31Y48DX7u2r9XZGzgPsa6wTp0QA7J9iffvdeBN0q9tKzRxVxw1JviZPg="
        crossorigin="anonymous"></script>


<script src="{{ asset('front-office/scripts/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/chosen.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/perfect-scrollbar.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/slick.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/rangeslider.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/magnific-popup.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery-ui.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/mmenu.js') }}"></script>
<script src="{{ asset('front-office/scripts/tooltips.min.js') }}"></script>
<script src="{{ asset('front-office/scripts/color_switcher.js') }}"></script>
<script src="{{ asset('front-office/scripts/jquery_custom.js') }}"></script>
<script src="{{ asset('front-office/scripts/typed.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    (function ($) {
        try {
            var jscr1 = $('.js-scrollbar');
            if (jscr1[0]) {
                const ps1 = new PerfectScrollbar('.js-scrollbar');

            }
        } catch (error) {
            console.log(error);
        }
    })(jQuery);

</script>

{% block stylesheets %}
{% endblock %}

{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>
</html>