{% extends 'base-back.html.twig' %}
                    {% block content %}
                        <div class="utf_dashboard_list_box margin-top-0">
                            <div class="sort-by my_sort_by">
                                <div class="utf_sort_by_select_item">
                                    <select data-placeholder="Default Listing" class="utf_chosen_select_single">
                                        <option>Default Listing</option>
                                        <option>Active Listing</option>
                                        <option>Pending Listing</option>
                                        <option>Expired Listing</option>
                                    </select>
                                </div>
                            </div>
                            <h4><i class="sl sl-icon-list"></i> My events</h4>
                            <ul>
                                <li>
                                    {% for r in res %}

                                        <div class="utf_list_box_listing_item">

                                            <div class="utf_list_box_listing_item-img"><img src="{{ asset('/uploads/images/'~ c.idevent.image) }}"/></div>
                                            <div class="utf_list_box_listing_item_content">
                                                <div class="inner">
                                                    <h3>{{ c.idevent.nomevent }}</h3>
                                                    <!--span><i class="im im-icon-Hotel"></i></span-->
                                                    <span><i class="fa fa-calendar"></i> {{'date début réservation'~' '~ c.datedebut|date}}</span>
                                                    <span><i class="fa fa-calendar"></i> {{'date début réservation'~' '~ c.datefin|date}}</span>

                                                    <div class="utf_star_rating_section">
                                                        <div class="utf_counter_star_rating">{{ c.nbparticip ~' '~'participants' }}</div>
                                                    </div>

                                                    <span></span>  <i class="fa fa-calendar" aria-hidden="true"></i>{{'From' ~' '~ c.datedebev|date }}</span>
                                                    <span></span>  <i class="fa fa-calendar" aria-hidden="true"></i>{{'To' ~' '~ c.datefinev|date }}</span>


                                                    <span><i class="fa fa-question-circle " aria-hidden="true"></i> {{ c.description}}</span>
                                                    <div class="buttons-to-right">
                                                        <a href="{{ path('delete',{'idevent':c.idevent}) }}" class="button gray"><i class="fa fa-trash"></i> Delete</a>
                                                        <a href="{{ path('update',{'idevent':c.idevent}) }}" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    {% endfor  %}

                                </li>

                            </ul>
                        </div>
                    {% endblock %}

                </div>
            </div>
        </div>

    {% endblock %}
