{% extends 'base-back.html.twig' %}

                    {% block content %}
                        <div class="utf_dashboard_list_box margin-top-0">
                            <div class="sort-by my_sort_by">
                                <div class="utf_sort_by_select_item">
                                </div>
                            </div>
                            <h4><i class="sl sl-icon-list"></i> Mes évenements triés
                            </h4>
                            <ul>
                                <li>
                                    {% for c in trievent %}
                                        <div class="utf_list_box_listing_item">
                                            <div class="utf_list_box_listing_item-img"><img src="{{ asset('/uploads/images/'~ c.image) }}"/></div>
                                            <div class="utf_list_box_listing_item_content">
                                                <div class="inner">
                                                    <h3>{{ c.nomevent }}</h3>
                                                    <h3>{{ c.datedebev|date }}</h3>
                                                    <h3>{{ c.datefinev|date }}</h3>
                                                    <!--span><i class="im im-icon-Hotel"></i></span-->
                                                    <span><i class="fa fa-map-marker"></i> {{ c.lieu}}</span>
                                                    <div class="utf_star_rating_section">
                                                        <div class="utf_counter_star_rating">{{ c.nbparticip ~' '~'participants' }}</div>
                                                    </div>
                                                    <span><i class="fa fa-question-circle " aria-hidden="true"></i> {{ c.description}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor  %}
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}
