{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Password</th>
                <th>Datedenaissance</th>
                <th>Telephone</th>
                <th>Role</th>
                <th>Etat</th>
                <th>AdressHost</th>
                <th>ImageCin</th>
                <th>ImageProfile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.cin }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.datedenaissance ? user.datedenaissance|date('Y-m-d') : '' }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.etat }}</td>
                <td>{{ user.adressHost }}</td>
                <td>{{ user.imageCin }}</td>
                <td>{{ user.imageProfile }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'cin': user.cin}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'cin': user.cin}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}"><Creat></Creat>e new</a>
{% endblock %}
