{% extends 'base_loginRegister.html.twig' %}

{% block stylesheets %}
    <style>
        .form-control {
            color: white;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="fxt-template-animation fxt-template-layout24"
             data-bg-image="{{ asset('Front-office/') }}img/figure/bg24-l.jpg">
        <!-- Video Area Start Here -->
        <div class="fxt-video-background">
            <div class="fxt-video">
                <div id="fxtVideo" data-property="{
                    videoURL:'F_7ZoAQ3aJM',
                    autoPlay:true,
                    mute:true,
                    loop:true,
                    startAt:0,
                    opacity:1,
                    quality:'default',
                    showControls:false,
                    optimizeDisplay:true,
                    containment:'.fxt-video-background'
                }">
                </div>
            </div>
        </div>
        <!-- Video Area Start Here -->
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-3 col-12">
                    <div class="fxt-header">
                        <a href="loginPage.html.twig" class="fxt-logo"><img
                                    src="{{ asset('Front-office/') }}img/logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="fxt-content">
                        <h2>Register for new account</h2>
                        <h4 style="color: darkred">{{ form_errors(form) }}</h4>

                        <div class="fxt-form">

                            {{ form_start(form, {'attr': {'id': 'registerForm'}}) }}
                            {# TODO :: Add Translation #}
                            {#{{ 'user.name'|trans }}#}
                            {{ form_widget(form.cin,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.password.first,{'attr':{'class':'form-control',"id":"first",'placeholder': "Password"}}) }}
                            {{ form_widget(form.password.second,{'attr':{'class':'form-control',"id":"second",'placeholder': "verify your password"}}) }}
                            {{ form_widget(form.datedenaissance) }}
                            {{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.adressHost,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.imageCin,{'attr':{'class':'form-control'}}) }}
                            {{ form_widget(form.imageProfile,{'attr':{'class':'form-control'}}) }}
                            <div class="g-recaptcha" data-sitekey="6Lc5CVgaAAAAAJL8V2UR9DCU3k8yUT0PNgSkmJbm"></div>

                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-3">
                                    <div class="fxt-checkbox-area">
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">Keep me logged in</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fxt-transformY-50 fxt-transition-delay-4">
                                    <button class="fxt-btn-fill">Register</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <a href="{{ path('connect_google_check') }}"
                           class="btn btn-default btn-block connect-with-google">
                            <i class="fa fa-google" aria-hidden="true"></i> -
                            Google</a>
                        <hr>
                        <hr>
                        <a href="{{ path('connect_facebook') }}" class="btn btn-default btn-block connect-with-google">
                            <i class="fa fa-google" aria-hidden="true"></i> -
                            Google</a>
                        <hr>
                        <div class="fxt-footer">
                            <div class="fxt-transformY-50 fxt-transition-delay-9">
                                <p>Already have an account?<a href="../security/loginPage.html.twig"
                                                              class="switcher-text2 inline-text">Log
                                        in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascript %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
    $('.js-datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>
//TODO: Open modal error

<script>
    $("#registerForm").on('submit', function(){
    if($("#user_password_first").val() != $("#user_password_second").val()) {
    $("#myModal").modal('show');
    return false;}
});
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async def er>
</script>
{% endblock %}